## Data cleaning and processing
I'm trying to write everything in english to get better in my writing, I might use some portuguese to reference some things

In [3]:
import pandas as pd
import seaborn as srn
import statistics  as sts

In [6]:
#import
dataset=pd.read_csv("../Files from Course/10.Pr√°tica em Python/dados/Churn.csv",sep=";")
#read
dataset.head()

   X0   X1  X2        X3  X4  X4.1        X6  X7  X8  X9         X10  X11
0   1  619  RS  Feminino  42     2         0   1   1   1  10134888.0    1
1   2  608  SC  Feminino  41     1   8380786   1   0   1  11254258.0    0
2   3  502  RS  Feminino  42     8   1596608   3   1   0  11393157.0    1
3   4  699  RS  Feminino  39     1         0   2   0   0   9382663.0    0
4   5  850  SC  Feminino  43     2  12551082   1   1   1    790841.0    0

In [8]:
#check the size
dataset.shape

(999, 12)

In [ ]:
#naming columns
dataset.columns = ["Id","Score","Estado","Genero","Idade","Patrimonio","Saldo","Produtos","TemCartCredito",
                    "Ativo","Salario","Saiu"]

# Business rules and Natural rules
There are business rules, which are a set of norms related to the company at hand, but there are also "natural rules," universal principles such as non-negative age and valid formats in dates. By applying these rules, data integrity is ensured, contributing to more reliable analyses.